a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.main {
  padding: 0 120px;
}
